<p>Enter book to find: </p>


<form>
  <mat-form-field>
    <mat-label>Book</mat-label>
    <input
      class="form-control"
      matInput
      [(ngModel)]="book"
      #bookSearch
      [ngModelOptions]="{standalone: true}"
    >
  </mat-form-field>
  <br/>
  <button [disabled]="!bookSearch.value" (click)="findBook(bookSearch.value)" type="button">Find Book(s)</button>

</form>

<!--<label for="bookSearch"></label>-->
<!--<input matInput type="text" id="bookSearch" #bookSearch/>-->
<!--<br/>-->
